In [1]:
a=10
if a :
    print("this is a value of a")

this is a value of a

In [4]:
a=10
if a<20:
    print("test")#identation matter in python

test

In [3]:
a<20

True

In [5]:
a=10
if a<20:
    pass           # it can do nothing

In [6]:
a=int(input("Enter a number:"))
if a<20:
    print("true")
else:
    print("false")

Enter a number:12
true

In [14]:
a=10
    # if this is flase then it will not consider if block,it will come to else block  
if a==30:
    print("this is my alternate statement")
elif type(a)==int:
    print("I am checking a type of var")
elif a<20:
    print("print from elif")
else:
    print("print this statement")

I am checking a type of var

In [15]:
type(a)==int

True

In [2]:
Discount=int(input())
if Discount ==50:
    print("you can buy all the item listed in row one")
elif Discount ==30:
    print("you can buy all the item from row no 2")
elif Discount ==20:
    print("send user to row no 3")
elif Discount >10:
    print("send him to 4th row no 4")
else:
    print("there is no item available")

50
you can buy all the item listed in row one

In [5]:
income = int(input())
if income >1000:
    print("you can get a platinum card")
    if income >2000:
        print("you will be able to get another facilities")
        if income >2200:
            print("you will be able to get a discount in services")
        elif income >2300:
            print("you will be able to get air ticket")
        else:
            print("there is no option available")
    elif income <1500:
        print("you won't be able to another things")
    else:
        print("no option")
elif income > 800:
    print("you will be able to get gold card")
else:
    print("you won't be able to get any card")

2222
you can get a platinum card
you will be able to get another facilities
you will be able to get a discount in services

In [6]:
val=int(input())
if val ==10:print("this is 10")#you can also write it in one line but you have to write it in another line because it will look readable

10
this is 10

# Now For Loop

In [7]:
l=[2,3,4,5,6,1,2,3,3]
l

[2, 3, 4, 5, 6, 1, 2, 3, 3]

In [10]:
for i in l:
    print(i)

2
3
4
5
6
1
2
3
3

In [15]:
l=["ziad",[1,2,3,4,5],(2,3,4,5,6),56,67,6+7j,True,45.67,"ullah"]
for i in l:
    print(i)

ziad
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67
ullah

In [16]:
for i in l:
    if type(i)==str:
        print(i)

ziad
ullah

In [17]:
l

['ziad',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'ullah']

In [19]:
for n in l:
    if type(n)==list:
        print(n[::-1])

[5, 4, 3, 2, 1]

In [22]:
s="ziad Ullah"
for i in s:
    print(i+"1")

z1
i1
a1
d1
 1
U1
l1
l1
a1
h1

In [23]:
t=(3,4,5,6,7)
for i in t:
    print(i)

3
4
5
6
7

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
a=10
for i in str(a) :
    print(i)

1
0

In [34]:
li=[[1,2,3,4,],"ziad",(1,2,3,4),445,44.8,3+5j,True,"smith"]
for i  in li:
    if type(i)==list or type(i)==tuple or type(i)==str:
        print(i)

[1, 2, 3, 4]
ziad
(1, 2, 3, 4)
smith

In [35]:
li=[[1,2,3,4,],"ziad",(1,2,3,4),445,44.8,3+5j,True,"smith"]
for i  in li:
    if type(i)==list and type(i)==tuple and type(i)==str:
        print(i)
    else:
        print("this is not possible")

this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible
this is not possible

# Nested for loop

In [37]:
li=[[1,2,3,4,],"ziad",(1,2,3,4),445,44.8,3+5j,True,"smith"]
for i in li:
    print(i)
    if type(i)==list:
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
ziad
(1, 2, 3, 4)
445
44.8
(3+5j)
True
smith

In [40]:
li=[[1,2,3,4,],"ziad",(1,2,3,4),445,44.8,3+5j,True,"smith"]
for i in li:
   # print(i)
    if type(i)==list or type(i)==tuple:
        print(i)
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
(1, 2, 3, 4)
1
2
3
4

In [49]:
n=int(input())
for i in range(n):
    for j in range(i+1):
        print("*",end="__")
    print("\r")

10
*__
*__*__
*__*__*__
*__*__*__*__
*__*__*__*__*__
*__*__*__*__*__*__
*__*__*__*__*__*__*__
*__*__*__*__*__*__*__*__
*__*__*__*__*__*__*__*__*__
*__*__*__*__*__*__*__*__*__*__

In [52]:
l=[[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in l:
    print(i.count(2))

2
3
1